* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Inter, sans-serif;
    user-select: none;

    --front-color: white;
    --back-color: #2E4374;
    --intermediate-color: #4B527E;
    --interact-color: #7C81AD;
    --important-color: #E5C3A6;

    --biggest-text: 48px;
    --big-text: 36px;
    --medium-text: 20px;
    --small-text: 16px;
    --very-small-text: 14px;
    --smallest-text: 11px;

    --mobile-very-small-text: 12px;
    word-break: break-word;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover,
button:hover,
input[type='checkbox'] + label,
input[type='submit'] {
    cursor: pointer;
}

.content {
    margin-top: 45px;
}

.wraping-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.content-padding {
    padding: 0 87px 0 87px;
    transition-duration: 0.3s;
}

.no-backround-and-border {
    background: none;
    border: none;
}

.horizontal-scroll-bar::-webkit-scrollbar {
    height: 4px;
    background: none;
}

.horizontal-scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--interact-color);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--interact-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--intermediate-color);
}

@media (max-width: 1024px) {
    .content-padding {
        padding: 0 29px 0 29px;
    }
}