{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Все книги{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/book.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    {% if isAdmin %}
        <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
    {% endif %}
{% endblock %}
{% block allBooksHref %}
    {% if isAdmin %}
        <a href="{% url 'books:books' %}">Все книги</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block allBooksHrefSideNav %}
    {% if isAdmin %}
        <a href="{% url 'books:books' %}">Все книги</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block adminBooks %}
    {% if isAdmin %}
        <a href="{% url 'menu' %}">Главная</a>
    {% else %}
        <a href="{% url 'books:books-admin' %}">Книги</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if isAdmin %}
        <div class="admin-statistic-box">
            <div class="admin-statistic">
                <div class="admin-statistic-image">
                    <img src="{% static 'image/book pick.png' %}" alt="books number image">
                </div>
                <div class="info">
                    <h1>Количество книг:</h1>
                    <span>{{ booksNumber }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    <form method="get" class="filtering"
          action="{% if isAdmin %}{% url 'books:books-admin' %}{% else %}{% url 'books:books' %}{% endif %}">
        <div class="filters">
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="new-books" name="newBooks" {{ newBooks }}>
                <label for="new-books">Новые</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="old-books" name="oldBooks" {{ oldBooks }}>
                <label for="old-books">Старые</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="popular-books"
                       name="popularBooks" {{ popularBooks }}>
                <label for="popular-books">Популярные</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="start-with-hight-rating-books"
                       name="hightRatingBooks" {{ hightRatingBooks }}>
                <label for="start-with-hight-rating-books">Сначала с высокой оценкой</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="start-with-low-rating-books"
                       name="lowRatingBooks" {{ lowRatingBooks }}>
                <label for="start-with-low-rating-books">Сначала с низкой оценкой</label>
            </div>
            {% for category in categories %}
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox pc-checkbox" id="category-{{ category.id }}"
                           name="category-{{ category.id }}" {% if category in checkedCategories %}checked{% endif %}>
                    <label for="category-{{ category.id }}">{{ category.name }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="button-box submit-filtering-button">
            <button class="button" type="submit">Фильтровать</button>
        </div>
        <div class="button-box panel-filtering-button">
            <button class="button" type="button" id="open-filtering-panel">Фильтровать</button>
        </div>
        <div class="panel left-panel" id="filtering-panel">
            <h1 class="filtering-header">Фильтрация</h1>
            <div class="panel-filters">
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="new-books-panel"
                           name="newBooks" {{ newBooks }}>
                    <label for="new-books-panel">Новые</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="old-books-panel"
                           name="oldBooks" {{ oldBooks }}>
                    <label for="old-books-panel">Старые</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="popular-books-panel"
                           name="popularBooks" {{ popularBooks }}>
                    <label for="popular-books-panel">Популярные</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox"
                           id="start-with-hight-rating-books-panel" {{ hightRatingBooks }} name="hightRatingBooks">
                    <label for="start-with-hight-rating-books-panel">Сначала с высокой оценкой</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox"
                           id="start-with-low-rating-books-panel" {{ lowRatingBooks }} name="lowRatingBooks">
                    <label for="start-with-low-rating-books-panel">Сначала с низкой оценкой</label>
                </div>
                {% for category in categories %}
                    <div class="checkbox-box dark-checkbox-box">
                        <input type="checkbox" class="checkbox mobile-checkbox" id="panel-category-{{ category.id }}"
                               name="category-{{ category.id }}"
                               {% if category in checkedCategories %}checked{% endif %}>
                        <label for="panel-category-{{ category.id }}">{{ category.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="button-box filter-panel-button">
                <button class="button dark-button" type="submit">Фильтровать</button>
            </div>
            <div class="button-box filter-panel-button">
                <button class="button dark-button" type="button" id="close-filtering-panel">Закрыть</button>
            </div>
        </div>
    </form>
    <div class="wraping-box">
        {% for book in page_obj %}
            <div class="book-box">
                <a href="{% url 'books:book' book.id %}" class="book-box">
                    <div class="book-photo-box">
                        <img src="{{ book.cover.url }}" alt="book">
                    </div>
                    <p class="book-name">{{ book.name }}</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>{{ book.getRating }}</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>{{ book.getReviewsCount }}</span>
                        </div>
                    </div>
                </a>
                {% if isAdmin %}
                    <div class="management-buttons">
                        <div class="button-box">
                            <button class="button call-modal-window" data="{% url 'books:delete-book' book.id %}">
                                Удалить
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="paginator-box">
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a class="page-selector" href="?{% param_replace page=page_obj.previous_page_number %}">
                    <img src="{% static 'image/previous page.png' %}" alt="previous page">
                </a>
            {% endif %}
            <span>{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a class="page-selector" href="?{% param_replace page=page_obj.next_page_number %}">
                    <img src="{% static 'image/next page.png' %}" alt="next page">
                </a>
            {% endif %}
        </div>
    </div>
    {% if isAdmin %}
        <div class="modal-window-box content-padding" id="modal-window-box">
            <form method="post" class="modal-window" id="modal-window-form">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить книгу?</p>
                <div class="modal-window-buttons">
                    <div class="button-box">
                        <input type="submit" class="button" value="Да">
                    </div>
                    <div class="button-box" id="close-model-window">
                        <button type="button" class="button">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'js/modal window.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/filtering panel.js' %}"></script>
{% endblock %}