{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if type == 'publicate' %}
        Публикация книги
    {% else %}
        Изменение книги
    {% endif %}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/cover input.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/sending layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/book publication.css' %}">
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-image">
            <img src="{% static 'image/book pick.png' %}" alt="book">
        </div>
        <h1>{% if type == 'publicate' %}Публикация вашей книги{% else %}Изменение вашей книги{% endif %}</h1>
    </div>
    <form method="post" enctype="multipart/form-data" class="page-content" action="
            {% if type == 'publicate' %}
                {% url 'books:book-publication' %}
            {% else %}
                {% if book %}
            	    {% url 'books:book-editing' book.id %}
                {% endif %}
            {% endif %}">
        {% csrf_token %}
        <div class="cover-input">
            <label class="input-file-button cover-file-input">
                <input type="file" name="bookCover" accept="image/*" id="cover-image-input"
                       {% if type == 'publicate' %}required{% endif %}>
                <img src="{% static 'image/cover.png' %}" alt="cover input">
            </label>
            <p id="cover-status">Обложка</p>
            <img class="cover-image {% if type == 'edit' %}show-cover-image{% endif %}" src="{{ book.cover.url }}"
                 alt="book cover" id="cover-image">
            <script src="{% static 'js/cover input.js' %}"></script>
        </div>
        <div class="info-input">
            <input type="text" class="textbox dark-textbox" name="bookName" placeholder="Название вашей книги"
                   value="{{ book.name }}" required>
            <textarea class="textbox dark-textbox" name="bookDesciption" placeholder="Описание вашей книги"
                      required>{{ book.description }}</textarea>
            <div class="in-line-file-input">
                <input type="number" class="textbox dark-textbox" name="bookPagesNumber"
                       placeholder="Количество страниц книги" min="1" value="{{ book.pages_number }}" required>
                <div class="button-box file-input-box">
                    <label class="input-file-button button">
                        <input type="file" name="bookFile" accept="application/pdf"
                               {% if type == 'publicate' %}required{% endif %}>
                        <img src="{% static 'image/file.svg' %}" alt="file">
                        <span>Файл книги</span>
                    </label>
                </div>
            </div>
            <div class="filters">
                {% if type == 'edit' %}
                    {% for category in book.categories.all %}
                        <div class="checkbox-box">
                            <input type="checkbox" class="checkbox" name="checkbox-{{ category.id }}"
                                   id="{{ category.id }}" checked>
                            <label for="{{ category.id }}">{{ category.name }}</label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for category in categories %}
                    <div class="checkbox-box">
                        <input type="checkbox" class="checkbox" name="checkbox-{{ category.id }}"
                               id="{{ category.id }}">
                        <label for="{{ category.id }}">{{ category.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="button-box">
                <input type="submit" class="button"
                       value="{% if type == 'publicate' %}Опубликовать{% else %}Изменить{% endif %}">
            </div>
        </div>
        <div class="user-box no-hover">
            {% if user.photo %}
                <div class="user-photo-box">
                    <img src="{{ user.photo.url }}" alt="author">
                </div>
            {% endif %}
            <h1 class="username">{{ user.full_name }}</h1>
            <div class="short-description">
                <p>{{ user.short_description }}</p>
            </div>
        </div>
    </form>
{% endblock %}