<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Книга</title>
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/textbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/radio button.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/book.css' %}">
</head>
<body>
<header class="content-padding header">
    <div class="book-info">
        <div class="book-image">
            <img src="{{ book.cover.url }}" alt="book">
        </div>
        <div class="info">
            <h1>{{ book.name }}</h1>
            <div class="statistics">
                <div class="rating">
                    <img src="{% static 'image/stars.png' %}" alt="rating">
                    <span>{{ book.getRating }}</span>
                </div>
                <div class="rating">
                    <img src="{% static 'image/comment.png' %}" alt="comment">
                    <span>{{ book.getReviewsCount }}</span>
                </div>
                <div class="rating">
                    <img src="{% static 'image/pages.png' %}" alt="pages">
                    <span>{{ book.pages_number }}</span>
                </div>
            </div>
            <div class="button-box">
                <a href="" class="button">Скачать книгу</a>
            </div>
        </div>
    </div>
    <a href="{% url 'users:user-books' book.author.id %}" class="user-box">
        <h2 class="username">{{ book.author.full_name }}</h2>
        <div class="user-photo-box">
            {% if book.author.photo %}
                <img src="{{ book.author.photo.url }}" alt="photo">
            {% endif %}
        </div>
    </a>
</header>
<main class="content-padding">
    <div class="book-description">
        <p>{{ book.description }}</p>
    </div>
    <div class="reviews">
        {% if book.author.id != user.id %}
            <div class="review" id="user-review">
                <h1>Ваша рецензия на книгу</h1>
                <form method="post" action="{% url 'books:add-review' book.id %}">
                    {% csrf_token %}
                    <textarea class="textbox dark-textbox" name="reviewText"
                              placeholder="Оставьте свою рецензию для автора этой книги!"
                              required>{{ reviewText }}</textarea>
                    <div class="review-rating">
                        <div class="radio-button-box">
                            <input type="radio" class="radio-button" name="reviewRating" id="1" value="1" required>
                            <label for="1">1</label>
                        </div>
                        <div class="radio-button-box">
                            <input type="radio" class="radio-button" name="reviewRating" id="2" value="2" required>
                            <label for="2">2</label>
                        </div>
                        <div class="radio-button-box">
                            <input type="radio" class="radio-button" name="reviewRating" id="3" value="3" required>
                            <label for="3">3</label>
                        </div>
                        <div class="radio-button-box">
                            <input type="radio" class="radio-button" name="reviewRating" id="4" value="4" required>
                            <label for="4">4</label>
                        </div>
                        <div class="radio-button-box">
                            <input type="radio" class="radio-button" name="reviewRating" id="5" value="5" required>
                            <label for="5">5</label>
                        </div>
                        <div class="button-box user-review-submit-button">
                            <input type="submit" class="button" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="review" id="all-reviews">
            <h1>Рецензии на книгу</h1>
            <form class="showing-filters filters" method="GET" action="{% url 'books:book-filtered-reviews' book.id %}#all-reviews">
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="new-reviews" name="newReviews" {{ newReviews }}>
                    <label for="new-reviews">Новые</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="old-reviews" name="oldReviews" {{ oldReviews }}>
                    <label for="old-reviews">Старые</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="start-with-hight-rating-reviews"
                           name="hightRatingReviews" {{ hightRatingReviews }}>
                    <label for="start-with-hight-rating-reviews">Сначала с высокой оценкой</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="start-with-low-rating-reviews"
                           name="lowRatingReviews" {{ lowRatingReviews }}>
                    <label for="start-with-low-rating-reviews">Сначала с низкой оценкой</label>
                </div>
                <div class="button-box comment-filter-button">
                    <input type="submit" class="button" value="Фильтровать">
                </div>
            </form>
            <div class="wraping-box">
                {% for review in page_obj %}
                    <div class="comment-box">
                        <div class="book-info">
                            <a href="{% url 'users:user-comments' review.user.id %}">{{ review.user.full_name }}</a>
                            <div class="statistics">
                                <div class="rating">
                                    <img src="{% static 'image/stars.png' %}" alt="rating">
                                    <span>{{ review.rating }}</span>
                                </div>
                                <div class="data">
                                    <span>{{ review.date_added|date:'SHORT_DATE_FORMAT' }}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="comment-text">
                            <p>{{ review.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<div class="paginator-box">
    <div class="paginator">
        {% if page_obj.has_previous %}
            <a class="page-selector" href="?{% param_replace page=page_obj.previous_page_number %}#all-reviews">
                <img src="{% static 'image/previous page.png' %}" alt="previous page">
            </a>
        {% endif %}
        <span>{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a class="page-selector" href="?{% param_replace page=page_obj.next_page_number %}#all-reviews">
                <img src="{% static 'image/next page.png' %}" alt="next page">
            </a>
        {% endif %}
    </div>
</div>
</body>
</html>