{% extends 'base.html' %}
{% load static %}
{% block title %}Публикация книги{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/cover input.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/sending layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/book publication.css' %}">
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-image">
            <img src="{% static 'image/book pick.png' %}" alt="book">
        </div>
        <h1>Публикация вашей книги</h1>
    </div>
    <form class="page-content">
        <div class="cover-input">
            <label class="input-file-button cover-file-input">
                <input type="file" name="book cover" id="cover-image-input">
                <img src="{% static 'image/cover.png' %}" alt="cover input">
            </label>
            <p>Обложка</p>
            <img class="cover-image" src="" alt="" id="cover-image">
        </div>
        <div class="info-input">
            <input type="text" class="textbox dark-textbox" placeholder="Название вашей книги">
            <textarea class="textbox dark-textbox" placeholder="Краткое содержание вашей книги"></textarea>
            <div class="in-line-file-input">
                <input type="number" class="textbox dark-textbox" placeholder="Количество страниц книги" min="0">
                <div class="button-box file-input-box">
                    <label class="input-file-button button">
                        <input type="file" name="photo">
                        <img src="{% static 'image/file.svg' %}" alt="file">
                        <span>Файл книги</span>
                    </label>
                </div>
            </div>
            <div class="filters">
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="1">
                    <label for="1">Фентезийные</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="2">
                    <label for="2">Фентезийные</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="3">
                    <label for="3">Классические</label>
                </div>
                <div class="checkbox-box">
                    <input type="checkbox" class="checkbox" id="4">
                    <label for="4">Классические</label>
                </div>
            </div>
            <div class="button-box">
                <input type="submit" class="button" value="Опубликовать">
            </div>
        </div>
        <div class="user-box no-hover">
            <div class="user-photo-box">
                <img src="{% static 'image/men.png' %}" alt="author">
            </div>
            <h1 class="username">Мишутин Олег Святославович</h1>
            <div class="short-description">
                <p>Самый лучший в мире гитарист. Играю на гитаре. Играю в слипнот. Пишу книги про любовь
                    и ножи. Меня Олег зовут. На улице реин, в душе пэин, на илице снег май нейм из Алег</p>
            </div>
        </div>
    </form>
{% endblock %}