.filters {
    justify-content: flex-start;
}

@media (max-width: 1440px) {
    .page-content .user-box {
        display: none;
    }
}

@media (max-width: 850px) {
    .page-content .user-box {
        display: flex;
    }

    .page-content .user-box{
        order: 1;
    }

    .page-content .cover-input{
        order: 2;
    }

    .page-content .info-input{
        order: 3;
    }
}

@media (max-width: 550px) {
    .filters{
        display: flex;
    }
}