.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 23px;
}

.page-header h1 {
    color: var(--intermediate-color);
    font-size: var(--biggest-text);
}

.page-content {
    width: 100%;
    display: flex;
    gap: 68px;
    margin-top: 41px;
    justify-content: center;
}

.info-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-input textarea {
    height: 285px;
}

.page-content .user-box {
    width: 354px;
    gap: 20px;
}

.page-content .user-photo-box {
    width: 354px;
    height: 354px;
}

.page-content .username {
    font-size: var(--biggest-text);
}

.page-content .short-description p {
    color: var(--intermediate-color);
}

@media (max-width: 850px) {
    .page-header h1 {
        font-size: var(--big-text);
        text-align: center;
    }

    .page-content {
        flex-direction: column;
        align-items: center;
    }

    .info-input {
        max-width: unset;
    }
}

@media (max-width: 425px) {
    .page-content .user-box {
        width: 250px;
        gap: 20px;
    }

    .page-content .user-photo-box {
        width: 250px;
        height: 250px;
    }

    .page-content .username {
        font-size: var(--big-text);
        -webkit-line-clamp: unset;
    }
}