{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block pageNaming %}Авторизация{% endblock %}
{% block formActionUrl %}
    {% url 'authentication:sign-in' %}
{% endblock %}
{% block main %}
    <div class="input-box">
        <span>{{ usernameError }}</span>
        <input class="textbox" type="text" name="username" placeholder="Имя пользователя" value="{{ usernameValue }}">
    </div>
    <input class="textbox" type="password" name="password" placeholder="Пароль" value="{{ passwordValue }}">
{% endblock %}
{% block submitButtonText %}Войти{% endblock %}
{% block footer %}
    <a href="{% url 'authentication:sign-up' %}">Зарегистрироваться</a>
{% endblock %}
{% block imageUrl %}
    {% static 'image/sign-in image.png' %}
{% endblock %}