{% extends 'base.html' %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
{% endblock %}
{% block categoriesHref %}
    <a href="{% url 'menu' %}">Главная</a>
{% endblock %}
{% block categoriesHrefSideNav %}
    <a href="{% url 'menu' %}">Главная</a>
{% endblock %}
{% block content %}
    <div class="wraping-box">
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
        <a class="category-box" href="">
            <div class="category-icon-box">
                <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
            </div>
            <div class="category-description">
                <div class="category-name">
                    <h5>Комедия Анекдоты</h5>
                </div>
                <div class="short-description">
                    <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                </div>
                <div class="books-number">
                    <img src="{% static 'image/books number.png' %}" alt="books number">
                    <span>1337</span>
                </div>
            </div>
        </a>
    </div>
    <div class="paginator-box">
        <div class="paginator">
            <a class="page-selector" href="">
                <img src="{% static 'image/previous page.png' %}" alt="previous page">
            </a>
            <span>1</span>
            <a class="page-selector" href="">
                <img src="{% static 'image/next page.png' %}" alt="next page">
            </a>
        </div>
    </div>
{% endblock %}