{% extends 'base.html' %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    {% if isAdmin %}
        <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
    {% endif %}
{% endblock %}
{% block categoriesHref %}
    {% if isAdmin %}
        <a href="{% url 'categories:categories' %}">Категории</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block categoriesHrefSideNav %}
    {% if isAdmin %}
        <a href="{% url 'categories:categories' %}">Категории</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block adminCategories %}
    {% if isAdmin %}
        <a href="{% url 'menu' %}">Главная</a>
    {% else %}
        <a href="{% url 'categories:categories-admin' %}">Категории</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if isAdmin %}
        <div class="admin-statistic-box">
            <div class="admin-statistic">
                <div class="admin-statistic-image">
                    <img src="{% static 'image/categories icon.png' %}" alt="authors number image">
                </div>
                <div class="info">
                    <h1>Количество категорий:</h1>
                    <span>{{ categoriesNumber }}</span>
                </div>
            </div>
            <div class="button-box">
                <a class="button" href="{% url 'categories:creating-category' %}">Cоздать категорию</a>
            </div>
        </div>
    {% endif %}
    <div class="wraping-box">
        {% for category in page_obj %}
            <div class="category">
                <a class="category-box" href="">
                    <div class="category-icon-box">
                        <img src="{{ category.icon.url }}" alt="category icon">
                    </div>
                    <div class="category-description">
                        <div class="category-name">
                            <h5>{{ category.name }}</h5>
                        </div>
                        <div class="short-description">
                            <p>{{ category.short_description }}</p>
                        </div>
                        <div class="books-number">
                            <img src="{% static 'image/books number.png' %}" alt="books number">
                            <span>{{ category.book_set.count }}</span>
                        </div>
                    </div>
                </a>
                {% if isAdmin %}
                    <div class="management-buttons">
                        <div class="button-box">
                            <a class="button" href="{% url 'categories:edit-category' category.id %}">Изменить</a>
                        </div>
                        <div class="button-box">
                            <button class="button call-modal-window"
                                    data="{% url 'categories:delete-category' category.id %}">Удалить
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="paginator-box">
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a class="page-selector" href="?page={{ page_obj.previous_page_number }}">
                    <img src="{% static 'image/previous page.png' %}" alt="previous page">
                </a>
            {% endif %}
            <span>{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a class="page-selector" href="?page={{ page_obj.next_page_number }}">
                    <img src="{% static 'image/next page.png' %}" alt="next page">
                </a>
            {% endif %}
        </div>
    </div>
    {% if isAdmin %}
        <div class="modal-window-box content-padding" id="modal-window-box">
            <form method="post" class="modal-window" id="modal-window-form">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить категорию?</p>
                <div class="modal-window-buttons">
                    <div class="button-box">
                        <input type="submit" class="button" value="Да">
                    </div>
                    <div class="button-box" id="close-model-window">
                        <button type="button" class="button">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'js/modal window.js' %}"></script>
    {% endif %}
{% endblock %}