{% extends 'base.html' %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    {% if isAdmin %}
        <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
    {% endif %}
{% endblock %}
{% block categoriesHref %}
    {% if isAdmin %}
        <a href="{% url 'categories:categories' %}">Категории</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block categoriesHrefSideNav %}
    {% if isAdmin %}
        <a href="{% url 'categories:categories' %}">Категории</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block adminCategories %}
    {% if isAdmin %}
        <a href="{% url 'menu' %}">Главная</a>
    {% else %}
        <a href="{% url 'categories:categories-admin' %}">Категории</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if isAdmin %}
        <div class="admin-statistic-box">
            <div class="admin-statistic">
                <div class="admin-statistic-image">
                    <img src="{% static 'image/categories icon.png' %}" alt="authors number image">
                </div>
                <div class="info">
                    <h1>Количество категорий:</h1>
                    <span>1337</span>
                </div>
            </div>
            <div class="button-box">
                <a class="button" href="{% url 'categories:creating-category' %}">Cоздать категорию</a>
            </div>
        </div>
    {% endif %}
    <div class="wraping-box">
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category">
            <a class="category-box" href="">
                <div class="category-icon-box">
                    <img src="{% static 'image/category icon 1.png' %}" alt="category icon">
                </div>
                <div class="category-description">
                    <div class="category-name">
                        <h5>Комедия Анекдоты</h5>
                    </div>
                    <div class="short-description">
                        <p>Комедия — это художественное произведение с юмористическим сюжетом.</p>
                    </div>
                    <div class="books-number">
                        <img src="{% static 'image/books number.png' %}" alt="books number">
                        <span>1337</span>
                    </div>
                </div>
            </a>
            {% if isAdmin %}
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                    <div class="button-box">
                        <a class="button" href="">Изменить</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="paginator-box">
        <div class="paginator">
            <a class="page-selector" href="">
                <img src="{% static 'image/previous page.png' %}" alt="previous page">
            </a>
            <span>1</span>
            <a class="page-selector" href="">
                <img src="{% static 'image/next page.png' %}" alt="next page">
            </a>
        </div>
    </div>
    {% if isAdmin %}
        <div class="modal-window-box content-padding" id="modal-window-box">
            <div class="modal-window" id="model-window">
                <p>Вы уверены, что хотите удалить комментарий?</p>
                <div class="modal-window-buttons">
                    <div class="button-box">
                        <a class="button" href="">Да</a>
                    </div>
                    <div class="button-box" id="close-model-window">
                        <button class="button">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/modal window.js' %}"></script>
    {% endif %}
{% endblock %}