{% extends 'base.html' %}
{% load static %}
{% block title %}Новая категория{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/cover input.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/sending layout.css' %}">
{% endblock %}
{% block content %}
    <div class="page-header">
        <div class="page-header-image">
            <img src="{% static 'image/categories icon.png' %}" alt="book">
        </div>
        <h1>Новая категория</h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="page-content" action="
            {% if type == 'create' %}
                {% url 'categories:creating-category' %}
            {% else %}
                {% url 'categories:edit-category' categoryId %}
            {% endif %}">
        {% csrf_token %}
        <div class="cover-input">
            <label class="input-file-button cover-file-input">
                <input type="file" name="categoryIcon" accept="image/*" id="cover-image-input"
                       {% if type == 'create' %}required{% endif %}>
                <img src="{% static 'image/cover.png' %}" alt="cover input">
            </label>
            <p id="cover-status">
                {% if categoryIconValue.url %}{{ categoryIconValue.name }}{% else %}Иконка{% endif %}</p>
            <img class="cover-image {% if categoryIconValue.url %}show-cover-image{% endif %}"
                 src="{{ categoryIconValue.url }}" alt="" id="cover-image">
            <script src="{% static 'js/cover input.js' %}"></script>
        </div>
        <div class="info-input">
            <input type="text" name="categoryName" class="textbox dark-textbox" placeholder="Название категории"
                   value="{{ categoryNameValue }}" required>
            <textarea name="categoryShortDescription" class="textbox dark-textbox"
                      placeholder="Краткое описание категории" required>{{ categoryShortDescriptionValue }}</textarea>
            <div class="button-box">
                <input type="submit" class="button"
                       value="{% if type == 'create' %}Создать{% else %}Изменить{% endif %} категорию">
            </div>
        </div>
    </form>
{% endblock %}