.wraping-box {
    gap: 2.5%;
    row-gap: 35px;
}

.book-box {
    min-width: 200px;
    width: 200px;
}

.book-photo-box {
    height: 317px;
    min-height: 317px;
    max-height: 317px;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 0.3s;
}

.book-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-box:hover .book-photo-box {
    transform: rotateY(12deg);
    box-shadow: 5px 5px 8px var(--interact-color);
}

.book-name {
    color: var(--intermediate-color);
    font-size: var(--medium-text);
    margin-top: 7px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.book-management,
.button-box {
    margin-top: 15px;
}

.book-box .button-box {
    height: 45px;
    min-width: unset;
}

.book-management {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.book-management img {
    height: 31px;
}

.author-book-box {
    display: flex;
    max-width: 789px;
    padding: 31px;
    box-sizing: border-box;
    border: 4px solid var(--intermediate-color);
    border-radius: 20px;
    align-items: center;
    gap: 29px;
}

.author-book-box .description p {
    display: -webkit-box;
    -webkit-line-clamp: 19;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--medium-text);
    color: var(--intermediate-color);
    white-space: pre-line;
}

@media (max-width: 768px) {
    .book-box {
        min-width: 155px;
        width: 155px;
    }

    .book-photo-box {
        height: 246px;
        min-height: 246px;
        max-height: 246px;
    }

    .book-name {
        font-size: var(--small-text);
    }

    .author-book-box {
        border: none;
        padding: 0;
    }

    .author-book-box .description {
        display: none;
    }
}

@media (max-width: 550px) {
    .wraping-box {
        gap: 4%;
        row-gap: 35px;
    }
}

@media (max-width: 380px) {
    .wraping-box .book-box {
        min-width: 200px;
        width: 200px;
    }

    .wraping-box .book-photo-box {
        height: 317px;
        min-height: 317px;
        max-height: 317px;
    }

    .wraping-box .book-name {
        font-size: var(--medium-text);
    }

    .wraping-box .statistics {
        gap: 9px;
    }

    .wraping-box .rating img {
        max-width: unset;
    }

    .wraping-box .rating span {
        height: 14px;
        font-size: var(--very-small-text);
    }
}