.book-box {
    min-width: 200px;
    width: 200px;
}

.book-photo-box {
    height: 317px;
    min-height: 317px;
    max-height: 317px;
    border-radius: 10px;
    overflow: hidden;
}

.book-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-name {
    color: var(--intermediate-color);
    font-size: var(--medium-text);
    margin-top: 7px;
    word-break: break-word;
    overflow: hidden;
    max-height: 69px;
}

.book-box .statistics {
    margin-top: 9px;
    gap: 9px;
}

.statistics,
.rating {
    display: flex;
    align-items: flex-end;
}

.rating span {
    height: 14px;
    align-self: flex-end;
    margin-left: 5px;
    color: var(--intermediate-color);
    font-size: var(--very-small-text);
}

@media (max-width: 768px) {
    .book-box {
        min-width: 155px;
        width: 155px;
    }

    .book-photo-box {
        height: 246px;
        min-height: 246px;
        max-height: 246px;
    }

    .book-name {
        font-size: var(--small-text);
    }

    .statistics {
        gap: 7px;
    }

    .rating img {
        max-width: 18px;
    }

    .rating span {
        height: 12px;
        font-size: var(--mobile-very-small-text);
    }
}