.button-box {
    min-width: 220px;
    height: 55px;
    display: flex;
    justify-content: center;
}

.button-box .button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--interact-color);
    color: var(--front-color);
    font-size: var(--small-text);
    font-weight: 700;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box .dark-button {
    background-color: var(--intermediate-color);
}

.button-box .button:hover {
    width: calc(100% - 20px);
}

.management-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
}

.management-buttons .button-box {
    min-width: unset;
    height: 37px;
}