.paginator-box {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

.paginator {
    display: flex;
    align-items: center;
    gap: 58px;
}

.paginator span {
    color: var(--intermediate-color);
    font-size: var(--big-text);
    font-weight: 800;
}