.statistics {
    margin-top: 9px;
    gap: 9px;
}

.statistics,
.rating,
.data {
    display: flex;
    align-items: flex-end;
}

.rating span,
.data span {
    max-width: 54px;
    overflow: hidden;
    height: 14px;
    align-self: flex-end;
    margin-left: 5px;
    color: var(--intermediate-color);
    font-size: var(--very-small-text);
}

.data span{
    max-width: unset;
}

@media (max-width: 768px) {
    .statistics {
        gap: 7px;
    }

    .rating img {
        max-width: 18px;
        max-height: 18px;
    }

    .rating span {
        max-width: 33px;
        height: 12px;
        font-size: var(--mobile-very-small-text);
    }
}