.textbox {
    width: 100%;
    border-radius: 10px;
    height: 55px;
    border: 3px solid white;
    background: none;
    padding: 16px 21px 16px 21px;
    font-size: var(--medium-text);
    outline: none;
    color: var(--front-color);
    box-sizing: border-box;
    resize: none;
    transition-duration: 0.3s;
}

.dark-textbox {
    border-color: var(--intermediate-color);
    color: var(--intermediate-color);
}

.textbox:hover {
    padding-left: 14px;
}

.textbox:focus {
    padding-left: 21px;
}

.textbox::placeholder {
    color: var(--front-color);
}

.dark-textbox::placeholder{
    color: var(--intermediate-color);
}