.wraping-box {
    gap: 3%;
    row-gap: 60px;
}

.user-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.3s;
}

.user-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-box:hover .user-photo-box {
    transform: rotateY(12deg);
    box-shadow: 5px 5px 8px var(--interact-color);
}

.no-hover .user-photo-box {
    transition-duration: 0s;
}

.no-hover:hover .user-photo-box {
    transform: unset;
    box-shadow: unset;
}

.username {
    text-align: center;
    overflow: hidden;
    font-size: var(--medium-text);
    color: var(--intermediate-color);
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.user-box .short-description p {
    font-size: var(--very-small-text);
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.user-box .statistics {
    margin-top: 7px;
}

@media (max-width: 768px) {
    .wraping-box {
        gap: 20px;
    }

    .user-box {
        width: 113px;
    }

    .user-photo-box {
        width: 113px;
        height: 113px;
    }

    .username {
        font-size: var(--very-small-text);
    }
}