.user-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.user-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    text-align: center;
    word-break: break-word;
    overflow: hidden;
    max-height: 46px;
    font-size: var(--medium-text);
    color: var(--intermediate-color);
    margin-top: 4px;
}

.user-box .statistics {
    margin-top: 7px;
}

@media (max-width: 768px) {
    .user-box {
        width: 113px;
    }

    .user-photo-box {
        width: 113px;
        height: 113px;
    }

    .username {
        font-size: var(--very-small-text);
    }
}