<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/switcher.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
    <link rel="icon" href="{% static 'image/logo.png' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<header>
    <div class="user-box no-hover">
        <div class="user-photo-box">
            {% if profileUser.photo %}
                <img src="{{ profileUser.photo.url }}" alt="photo">
            {% endif %}
        </div>
        <div class="description">
            <h1 class="username">{{ profileUser.full_name }}</h1>
            <div class="short-description">
                <p>{{ profileUser.short_description }}</p>
            </div>
        </div>
    </div>
    {% if profileUser.is_author %}
        <div class="statistics">
            <div class="rating">
                <img src="{% static 'image/big stars.png' %}" alt="rating">
                <span>{{ profileUser.getRating }}</span>
            </div>
            <div class="rating">
                <img src="{% static 'image/big comment.png' %}" alt="comment">
                <span>{{ profileUser.getReviewsCount }}</span>
            </div>
        </div>
    {% endif %}
</header>
<main>
    <div class="switcher-box">
        <div class="button-box">
            <a href="{% url 'menu' %}" class="button">Домой</a>
        </div>
        {% if profileUser.is_author %}
            <div class="switch">
                <a href="{% url 'users:user-comments' 2 %}" class="switcher {% block swithcer1State %}{% endblock %}">Комментарии</a>
                <a href="{% url 'users:user-books' 2 %}"
                   class="switcher {% block swithcer2State %}{% endblock %}">Книги</a>
            </div>
        {% endif %}
    </div>
    <div class="content-padding">
        {% block content %}{% endblock %}
    </div>
</main>
<div class="paginator-box">
    <div class="paginator">
        {% if page_obj.has_previous %}
            <a class="page-selector" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'image/previous page.png' %}" alt="previous page">
            </a>
        {% endif %}
        <span>{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a class="page-selector" href="?page={{ page_obj.next_page_number }}">
                <img src="{% static 'image/next page.png' %}" alt="next page">
            </a>
        {% endif %}
    </div>
</div>
</body>
</html>