{% extends 'profile/base.html' %}
{% load static %}
{% block title %}Комментарии пользователя{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/comment.css' %}">
{% endblock %}
{% block swithcer1State %}switcher-on{% endblock %}
{% block content %}
    <div class="comments">
        <div class="wraping-box">
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
            <div class="comment-box">
                <div class="book-info">
                    <a href="">Дебютная постановка том 2</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                        <a href="" class="trash-button"><img src="{% static 'image/trash.png' %}" alt="delete"></a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                        сюда короче.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}