{% extends 'profile/base.html' %}
{% load static %}
{% block title %}Комментарии пользователя{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
{% endblock %}
{% block swithcer1State %}switcher-on{% endblock %}
{% block content %}
    <div class="wraping-box">
        {% for review in page_obj %}
            <div class="comment-box">
                <div class="book-info">
                    <a href="{% url 'books:book' review.book.id %}">{{ review.book.name }}</a>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>{{ review.book.getRating }}</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>{{ review.book.getReviewsCount }}</span>
                        </div>
                    </div>
                    {% if profileUser.id == user.id %}
                        <div class="management-buttons">
                            <div class="button-box">
                                <button class="button call-modal-window"
                                        data="{% url 'books:delete-review' review.id %}">Удалить
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <div class="comment-text">
                    <p>{{ review.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-window-box content-padding" id="modal-window-box">
        <form method="post" class="modal-window" id="modal-window-form">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить комментарий?</p>
            <div class="modal-window-buttons">
                <div class="button-box">
                    <input type="submit" class="button" value="Да">
                </div>
                <div class="button-box" id="close-model-window">
                    <button type="button" class="button">Отмена</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/modal window.js' %}"></script>
{% endblock %}