{% extends 'profile/base.html' %}
{% load static %}
{% block title %}Комментарии пользователя{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
{% endblock %}
{% block swithcer1State %}switcher-on{% endblock %}
{% block content %}
    <div class="wraping-box">
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
        <div class="comment-box">
            <div class="book-info">
                <a href="">Дебютная постановка том 2</a>
                <div class="statistics">
                    <div class="rating">
                        <img src="{% static 'image/stars.png' %}" alt="rating">
                        <span>4.5</span>
                    </div>
                    <div class="rating">
                        <img src="{% static 'image/comment.png' %}" alt="comment">
                        <span>100</span>
                    </div>
                </div>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window">Удалить</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-text">
                <p>Это лучшая книга, которую я когда либо читал на свете. Всем советую. Неповотримый сюжет и туда
                    сюда короче.</p>
            </div>
        </div>
    </div>
    <div class="modal-window-box content-padding" id="modal-window-box">
        <div class="modal-window" id="model-window">
            <p>Вы уверены, что хотите удалить комментарий?</p>
            <div class="modal-window-buttons">
                <div class="button-box">
                    <a class="button" href="">Да</a>
                </div>
                <div class="button-box" id="close-model-window">
                    <button class="button">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modal window.js' %}"></script>
{% endblock %}