{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Авторы{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    {% if isAdmin %}
        <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
    {% endif %}
{% endblock %}
{% block authorsHref %}
    {% if isAdmin %}
        <a href="{% url 'authors:authors' %}">Авторы</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block authorsHrefSideNav %}
    {% if isAdmin %}
        <a href="{% url 'authors:authors' %}">Авторы</a>
    {% else %}
        <a href="{% url 'menu' %}">Главная</a>
    {% endif %}
{% endblock %}
{% block adminAuthors %}
    {% if isAdmin %}
        <a href="{% url 'menu' %}">Главная</a>
    {% else %}
        <a href="{% url 'authors:authors-admin' %}">Авторы</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if isAdmin %}
        <div class="admin-statistic-box">
            <div class="admin-statistic">
                <div class="admin-statistic-image">
                    <img src="{% static 'image/author.png' %}" alt="authors number image" loading="lazy">
                </div>
                <div class="info">
                    <h1>Количество авторов:</h1>
                    <span>{{ authorsNumber }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    <form method="get" class="filtering"
          action="{% if isAdmin %}{% url 'authors:authors-admin' %}{% else %}{% url 'authors:authors' %}{% endif %}">
        <div class="filters">
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="new-authors" name="newAuthors" {{ newAuthors }}>
                <label for="new-authors">Новые</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="popular-authors"
                       name="popularAuthors" {{ popularAuthors }}>
                <label for="popular-authors">Популярные</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="start-with-hight-rating-authors"
                       name="hightRatingAuthors" {{ hightRatingAuthors }}>
                <label for="start-with-hight-rating-authors">Сначала с высокой оценкой</label>
            </div>
            <div class="checkbox-box">
                <input type="checkbox" class="checkbox pc-checkbox" id="start-with-low-rating-authors"
                       name="lowRatingAuthors" {{ lowRatingAuthors }}>
                <label for="start-with-low-rating-authors">Сначала с низкой оценкой</label>
            </div>
        </div>
        <div class="button-box submit-filtering-button">
            <button class="button" type="submit">Фильтровать</button>
        </div>
        <div class="button-box panel-filtering-button">
            <button class="button" type="button" id="open-filtering-panel">Фильтровать</button>
        </div>
        <div class="panel left-panel" id="filtering-panel">
            <h1 class="filtering-header">Фильтрация</h1>
            <div class="panel-filters">
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="new-authors-panel"
                           name="newAuthors" {{ newAuthors }}>
                    <label for="new-authors-panel">Новые</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="popular-authors-panel"
                           name="popularAuthors" {{ popularAuthors }}>
                    <label for="popular-authors-panel">Популярные</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="start-with-hight-rating-authors-panel"
                           name="hightRatingAuthors" {{ hightRatingAuthors }}>
                    <label for="start-with-hight-rating-authors-panel">Сначала с высокой оценкой</label>
                </div>
                <div class="checkbox-box dark-checkbox-box">
                    <input type="checkbox" class="checkbox mobile-checkbox" id="start-with-low-rating-authors-panel"
                           name="lowRatingAuthors" {{ lowRatingAuthors }}>
                    <label for="start-with-low-rating-authors-panel">Сначала с низкой оценкой</label>
                </div>
            </div>
            <div class="button-box filter-panel-button">
                <button class="button dark-button" type="submit">Фильтровать</button>
            </div>
            <div class="button-box filter-panel-button">
                <button class="button dark-button" type="button" id="close-filtering-panel">Закрыть</button>
            </div>
        </div>
    </form>
    <div class="wraping-box">
        {% for author in page_obj %}
            <div class="user-box">
                <a href="{% url 'users:user-books' author.id %}" class="user-box">
                    <div class="user-photo-box">
                        {% if author.photo %}
                            <img src="{{ author.photo.url }}" alt="author" loading="lazy">
                        {% endif %}
                    </div>
                    <p class="username">{{ author.full_name }}</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating" loading="lazy">
                            <span>{{ author.rating|floatformat:1 }}</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment" loading="lazy">
                            <span>{{ author.reviewsCount }}</span>
                        </div>
                    </div>
                </a>
                {% if isAdmin %}
                    <div class="management-buttons">
                        <div class="button-box">
                            <button class="button call-modal-window" data="{% url 'users:delete-user' author.id %}">
                                Удалить
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="paginator-box">
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a class="page-selector" href="?{% param_replace page=page_obj.previous_page_number %}">
                    <img src="{% static 'image/previous page.png' %}" alt="previous page" loading="lazy">
                </a>
            {% endif %}
            <span>{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a class="page-selector" href="?{% param_replace page=page_obj.next_page_number %}">
                    <img src="{% static 'image/next page.png' %}" alt="next page" loading="lazy">
                </a>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/filtering panel.js' %}"></script>
    {% if isAdmin %}
        <div class="modal-window-box content-padding" id="modal-window-box">
            <form method="post" class="modal-window" id="modal-window-form">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить автора?</p>
                <div class="modal-window-buttons">
                    <div class="button-box">
                        <input type="submit" class="button" value="Да">
                    </div>
                    <div class="button-box" id="close-model-window">
                        <button type="button" class="button">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'js/modal window.js' %}"></script>
    {% endif %}
{% endblock %}