<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/side panels.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/file input.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/textbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/user.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<div class="navigation">
    <div class="top-nav-bar content-padding">
        <button class="logo no-backround-and-border" id="show-navigate-panel-button">
            <img src="{% static 'image/logo.png' %}" alt="logo">
        </button>
        <nav class="pages horizontal-scroll-bar">
            <ul>
                <li>
                    {% block newBookHref %}
                        <a href="">Новые</a>
                    {% endblock %}
                </li>
                <li>
                    {% block popularHref %}
                        <a href="">Популярные</a>
                    {% endblock %}
                </li>
                <li>
                    {% block allBooksHref %}
                        <a href="{% url 'books:books' %}">Все книги</a>
                    {% endblock %}
                </li>
                <li>
                    {% block categoriesHref %}
                        <a href="{% url 'categories:categories' %}">Категории</a>
                    {% endblock %}
                </li>
                <li>
                    {% block authorsHref %}
                        <a href="{% url 'authors:authors' %}">Авторы</a>
                    {% endblock %}
                </li>
            </ul>
        </nav>
        <form method="get" class="search-bar">
            <button class="search-button no-backround-and-border">
                <img src="{% static 'image/loup.png' %}" alt="loup">
            </button>
            <input class="navigation-textbox no-backround-and-border" id="search-bar" type="text" placeholder="Поиск"
                   required>
        </form>
        <div class="user">
            <button class="manage-button no-backround-and-border" id="show-manage-panel-button">
                <img src="{% static 'image/user.png' %}" alt="user">
            </button>
        </div>
    </div>
    <div class="panel right-panel" id="navigate-panel">
        <form method="get" class="search-bar">
            <button class="search-button no-backround-and-border">
                <img src="{% static 'image/loup.png' %}" alt="loup">
            </button>
            <input class="navigation-textbox no-backround-and-border" id="panel-search-bar" type="text"
                   placeholder="Поиск" required>
        </form>
        <nav class="pages">
            <ul>
                <li>
                    {% block newBookHrefSideNav %}
                        <a href="">Новые</a>
                    {% endblock %}
                </li>
                <li>
                    {% block popularHrefSideNav %}
                        <a href="">Популярные</a>
                    {% endblock %}
                </li>
                <li>
                    {% block allBooksHrefSideNav %}
                        <a href="{% url 'books:books' %}">Все книги</a>
                    {% endblock %}
                </li>
                <li>
                    {% block categoriesHrefSideNav %}
                        <a href="{% url 'categories:categories' %}">Категории</a>
                    {% endblock %}
                </li>
                <li>
                    {% block authorsHrefSideNav %}
                        <a href="">Авторы</a>
                    {% endblock %}
                </li>
                <li>
                    <div class="button-box">
                        <button class="button" id="close-right-panel-button">Закрыть</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel left-panel" id="manage-panel">
        <div class="user-box no-hover">
            <div class="user-photo-box">
                <img src="{% static 'image/men.png' %}" alt="photo">
            </div>
            <h2 class="username">Jum Root</h2>
        </div>
        <nav class="pages">
            <ul>
                <li><a href="">Опублиовать книгу</a></li>
                <li><a href="{% url 'profiles:profile-comments' %}">Мой профиль</a></li>
                <li><a id="open-user-settings-button">Изменить профиль</a></li>
                <li><a href="">Админка</a></li>
                <li><a href="">Выйти из аккаунта</a></li>
                <li>
                    <div class="button-box">
                        <button class="button dark-button" id="close-left-panel-button">Закрыть</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel left-panel" id="user-settings">
        <div class="no-hover">
            <div class="user-photo-box">
                <img src="{% static 'image/men.png' %}" alt="photo">
            </div>
        </div>
        <form method="post" class="user-settings-form">
            <div class="button-box">
                <label class="input-file-button button dark-button">
                    <input type="file" name="photo">
                    <img src="{% static 'image/file.svg' %}" alt="file">
                    <span>Ваше фото</span>
                </label>
            </div>
            <input class="textbox" type="text" name="fullName" placeholder="ФИО" required>
            <input class="textbox" type="text" name="username" placeholder="Имя пользователя" required>
            <textarea class="textbox" name="" placeholder="Краткое описание" required></textarea>
            <div class="button-box">
                <input type="submit" class="button dark-button" value="Изменить профиль">
            </div>
        </form>
        <div class="button-box">
            <button class="button dark-button" id="close-user-settings-button">Закрыть</button>
        </div>
    </div>
</div>
<div class="content content-padding">
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>