{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Новые авторы</title>{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/book.css' %}">
{% endblock %}

{% block content %}
    <div class="menu-content">
        <div class="horizontal-content-box">
            <h1>Популярные авторы</h1>
            <div class="horizontal-content horizontal-content-authors horizontal-scroll-bar">
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="user-box menu-user-box">
                    <div class="user-photo-box">
                        <img src="{% static 'image/men.png' %}" alt="author">
                    </div>
                    <p class="username">Jum Root</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="horizontal-content-box">
            <h1>Новые книги</h1>
            <div class="horizontal-content horizontal-content-book horizontal-scroll-bar">
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="horizontal-content-box">
            <h1>Популярные книги</h1>
            <div class="horizontal-content horizontal-content-book horizontal-scroll-bar">
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="horizontal-content-box">
            <h1>Книги категории: ...</h1>
            <div class="horizontal-content horizontal-content-book horizontal-scroll-bar">
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/pic.jpg' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дебютная постановка том 2</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
                <a href="" class="book-box">
                    <div class="book-photo-box">
                        <img src="{% static 'image/book2.png' %}" alt="book">
                    </div>
                    <p class="book-name">Дело Саввы Морозова</p>
                    <div class="statistics">
                        <div class="rating">
                            <img src="{% static 'image/stars.png' %}" alt="rating">
                            <span>4.5</span>
                        </div>
                        <div class="rating">
                            <img src="{% static 'image/comment.png' %}" alt="comment">
                            <span>100</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}