{% extends 'base.html' %}
{% load static %}
{% block title %}Пользователи{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
{% endblock %}
{% block adminUsers %}
    <a href="{% url 'menu' %}">Главная</a>
{% endblock %}
{% block content %}
    <div class="admin-statistic-box">
        <div class="admin-statistic">
            <div class="admin-statistic-image">
                <img src="{% static 'image/author.png' %}" alt="authors number image" loading="lazy">
            </div>
            <div class="info">
                <h1>Количество пользователей:</h1>
                <span>{{ user_list.count }}</span>
            </div>
        </div>
    </div>
    <div class="wraping-box">
        {% for user in page_obj %}
            <div class="user-box">
                <a href="{% url 'users:user-comments' user.id %}" class="user-box">
                    <div class="user-photo-box">
                        {% if user.photo %}
                            <img src="{{ user.photo.url }}" alt="author" loading="lazy">
                        {% endif %}
                    </div>
                    <p class="username">{{ user.full_name }}</p>
                </a>
                <div class="management-buttons">
                    <div class="button-box">
                        <button class="button call-modal-window" data="{% url 'users:delete-user' user.id %}">Удалить
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="paginator-box">
        <div class="paginator">
            {% if page_obj.has_previous %}
                <a class="page-selector" href="?page={{ page_obj.previous_page_number }}">
                    <img src="{% static 'image/previous page.png' %}" alt="previous page" loading="lazy">
                </a>
            {% endif %}
            <span>{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a class="page-selector" href="?page={{ page_obj.next_page_number }}">
                    <img src="{% static 'image/next page.png' %}" alt="next page" loading="lazy">
                </a>
            {% endif %}
        </div>
    </div>
    <div class="modal-window-box content-padding" id="modal-window-box">
        <form method="post" class="modal-window" id="modal-window-form">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить пользователя?</p>
            <div class="modal-window-buttons">
                <div class="button-box">
                    <input type="submit" class="button" value="Да">
                </div>
                <div class="button-box" id="close-model-window">
                    <button type="button" class="button">Отмена</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/modal window.js' %}"></script>
{% endblock %}