{% extends 'base.html' %}
{% load static %}
{% block title %}Авторы{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/widgets/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/filtering.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/admin statistic.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets/modal window.css' %}">
{% endblock %}
{% block adminUsers %}
    <a href="{% url 'menu' %}">Главная</a>
{% endblock %}
{% block content %}
    <div class="admin-statistic-box">
        <div class="admin-statistic">
            <div class="admin-statistic-image">
                <img src="{% static 'image/author.png' %}" alt="authors number image">
            </div>
            <div class="info">
                <h1>Количество пользователей:</h1>
                <span>1337</span>
            </div>
        </div>
    </div>
    <div class="wraping-box">
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
        <div class="user-box">
            <a href="" class="user-box">
                <div class="user-photo-box">
                    <img src="{% static 'image/men.png' %}" alt="author">
                </div>
                <p class="username">Jum Root</p>
            </a>
            <div class="management-buttons">
                <div class="button-box">
                    <button class="button call-modal-window">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paginator-box">
        <div class="paginator">
            <a class="page-selector" href="">
                <img src="{% static 'image/previous page.png' %}" alt="previous page">
            </a>
            <span>1</span>
            <a class="page-selector" href="">
                <img src="{% static 'image/next page.png' %}" alt="next page">
            </a>
        </div>
    </div>
    <div class="modal-window-box content-padding" id="modal-window-box">
        <div class="modal-window" id="model-window">
            <p>Вы уверены, что хотите удалить комментарий?</p>
            <div class="modal-window-buttons">
                <div class="button-box">
                    <a class="button" href="">Да</a>
                </div>
                <div class="button-box" id="close-model-window">
                    <button class="button">Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modal window.js' %}"></script>
{% endblock %}